
<h1>Node Red Service</h1>
<p>Welcome to the Node-Red-Service</p>

<ul>
	<li>Flow editor: <a href="/editor">/editor</a></li>
	<li>API root: <a href="/api">/api</a></li>
	<li>Healthcheck: <a href="/healthz">/healthz</a></li>
	<li>Readiness Probe: <a href="/ready">/ready</a></li>

</ul>

